<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.ncsdac">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/sda_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/sda_icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.NCSDAC"
        tools:targetApi="31">

        <activity
            android:name=".Prayer"
            android:exported="false" />
        <activity
            android:name=".TOB"
            android:exported="false" />
        <activity
            android:name=".VBS"
            android:exported="false" />
        <activity
            android:name=".CampMeeting"
            android:exported="false" />
        <activity
            android:name=".MasterGuide"
            android:exported="false" />
        <activity
            android:name=".Ambassador"
            android:exported="false" />
        <activity
            android:name=".Elders"
            android:exported="false" />
        <activity
            android:name=".Deaconess"
            android:exported="false" />
        <activity
            android:name=".Deacons"
            android:exported="false" />
        <activity
            android:name=".WomenMinistry"
            android:exported="false" />
        <activity
            android:name=".FamilyLife"
            android:exported="false" />
        <activity
            android:name=".Adventurers"
            android:exported="false" />
        <activity
            android:name=".Pathfinders"
            android:exported="false" />
        <activity
            android:name=".AMO"
            android:exported="false" />
        <activity
            android:name=".YouthMinistry"
            android:exported="false" />
        <activity
            android:name=".ChildrenMinistry"
            android:exported="false" />
        <activity
            android:name=".Baptismal"
            android:exported="false" />
        <activity
            android:name=".Young_prof"
            android:exported="false" />
        <activity
            android:name=".Youth"
            android:exported="false" />
        <activity
            android:name=".CradleRollB"
            android:exported="false" />
        <activity
            android:name=".CradleRollA"
            android:exported="false" />
        <activity
            android:name=".PrimaryB"
            android:exported="false" />
        <activity
            android:name=".PrimaryA"
            android:exported="false" />
        <activity
            android:name=".Kindergaten"
            android:exported="false" />
        <activity
            android:name=".Earliteens"
            android:exported="false" />
        <activity
            android:name=".Collegiate"
            android:exported="false" />
        <activity
            android:name=".Junior"
            android:exported="false" />
        <activity
            android:name=".Teens"
            android:exported="false" />
        <activity
            android:name=".Adults"
            android:exported="false" />
        <activity
            android:name=".Tithe"
            android:exported="false" />
        <activity
            android:name=".Events"
            android:exported="false" />
        <activity
            android:name=".References"
            android:exported="false" />
        <activity
            android:name=".Services"
            android:exported="false" />
        <activity
            android:name=".Contact"
            android:exported="false" />
        <activity
            android:name=".Socials"
            android:exported="false" />
        <activity
            android:name=".Sabbath_School_Classes"
            android:exported="false" />
        <activity
            android:name=".Departments"
            android:exported="false" />
        <activity
            android:name=".About"
            android:exported="false"
            android:label="@string/title_activity_about_scroll"
            android:theme="@style/Theme.NCSDAC.NoActionBar" />
        <activity
            android:name=".Get_started"
            android:exported="false" />
        <activity
            android:name=".Create_acc"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false">

        </activity>
        <activity
            android:name=".SplashScreen"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

    </application>

</manifest>